<html>
  <head>
    <title>Pepper Pods</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Revalia&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Revalia&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/dist/css/stylesheet.css" />
    <script src="/dist/js/uikit.min.js"></script>
    <script src="/dist/js/uikit-icons.min.js"></script>
  </head>

  <nav class="uk-navbar-container" id="mainnavbar" uk-navbar>
    <div class="uk-navbar-left"><a href="/"><h1 class="uk-heading-line" id="maintitle"><span
        >Pepper Pods Blog</span></h1></a></div>
        <a name="top"></a>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-parent">
          <a href="/"><img
              src="/media/pepperpodic.png"
              alt="homeicon"
              id="homeicon"
              class="navbtn"
            />Home</a>
        </li>
        {{!-- If logged in will transform the login button into the account button and generate a logout button --}}
        {{#if logged_in}}
          <li class="uk-parent">
            <a href="/account"><img
                src="/media/useric.png"
                alt="profileicon"
                id="profileicon"
                class="navbtn"
              />Account</a>
          </li>
          <li class="uk-parent" id="logout">
            <a href="#"><img
                src="/media/logout.png"
                alt="logouticon"
                class="navbtn"
              />Logout</a>
          </li>
        {{else}}
          <li class="uk-parent">
            <a href="/login"><img
                src="/media/useric.png"
                alt="profileicon"
                id="profileicon"
                class="navbtn"
              />Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <body>
    

        {{{body}}}
      </main>

{{!-- Only loads the logout script if logged in. --}}
    {{#if logged_in}}
      <script src="/dist/js/logout.js"></script>
    {{/if}}
  </body>

  <div class="uk-card-footer uk-light uk-background-secondary uk-text-center" id="mainfooter">
    <hr class="uk-divider-icon" id="divider" />
    <a href="#top" id="toplink">Back to top of page</a>
    <br />
    <h7>Created by Jordan Covarrubias aka "AuraFly" </h7>
    <a href="" uk-icon="heart"></a>
  </div>
</html>